@using GymManager.Application.Clients.Queries.GetClientsBasics
@using System.Globalization

@model IEnumerable<ClientBasicsDto>

@{
	ViewData["Title"] = "Klienci";
	var locale = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}

@section Styles {
	<partial name="Styles/_DataTablesStylesPartial" />
}

<partial name="Modals/_ModalConfirmPartial"
		 model="@(new ModalParams
        {
            Id = "modal-confirm-delete",
            Title = "Potwierdź proszę",
            Description = "Czy na pewno chcesz usunąć wybranego klienta?"
        })"/>

<div class="card card-primary card-border-top">
	<div class="card-body">

		<a href='/Client/AddClient' class="btn btn-primary mb-3" role="button">
			<i class="fas fa-solid fa-circle-plus"></i>Dodaj klienta
		</a>

		<div class="form-group mt-0">
			<div class="form-check form-check-inline form-switch mt-0">
				<div class="custom-control custom-switch">
					<input type="checkbox" class="form-check-input" id="isActiveUserCb" onclick="refreshTable();" />
					<label class="form-check-label custom-control-label" for="isActiveUserCb">
						Tylko aktywni
					</label>
				</div>
			</div>
		</div>

		<table id="clients" class="table table-bordered">
			<thead>
				<tr>
					<th>Nazwa klienta</th>
					<th class="desktop">Email</th>
					<th class="desktop"></th>
					<th class="desktop"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var client in Model)
				{
					<tr>
						<td>
							<a class="edit-link" href='/Client/EditAdminClient?clientId=@client.Id'>@client.Name</a>
						</td>
						<td>
							@client.Email
						</td>
						<td>
							@if (client.IsDeleted)
							{
								<span>1</span>
							}
							else
							{
								<span>0</span>
							}
						</td>
						<td>
							<a class="btn btn-success btn-sm" role="button" href="/Client/EditAdminClient?clientId=@client.Id">
								<i class="fas fa-solid fa-magnifying-glass"></i>Edytuj
							</a>

							@if (!client.IsDeleted)
							{
								<button class="btn btn-danger btn-sm" onclick="deleteClient('@client.Id', this)">
									<i class="fas fa-solid fa-trash-can"></i>Usuń
								</button>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>
</div>

@section Scripts {
	<partial name="Scripts/_DataTablesScriptsPartial" />
	<script src="~/lib/js-cookie/js.cookie.min.js"></script>

	<script>

		var selectedRow;
		var selectedClientId = 0;
		var clients;

		$(document).ready(function ()
        {
			$('#isActiveUserCb').prop('checked', Cookies.get('isActiveUserCb') === "1")
			
			$('#isActiveUserCb').change(function () {
				var cookiesIsActiveUserCbVal = this.checked === true ? "1" : "0";
				Cookies.set('isActiveUserCb', cookiesIsActiveUserCbVal, { expires: 365 });
			});

			clients = $('#clients').DataTable({
				paging: true,
				ordering: true,
				info: true,
				responsive: true,
				autoWidth: false,
				lengthChange: true,
				language: {
					url: `/lib/datatables/lang/${'@locale'}.json`
				},
				order: [[0, "asc"]],
                // ukrycie 3 kolumny, która zawiera informację o tym czy user jest usunięty czy nie
				columnDefs: [
					{
						targets: [2],
						visible: false,
						searchable: true
					}]
			});
		});

        // podpięcie pod funkcję wyszukiwania z DataTable, która jest wywoływana na każdym wierszu podczas wyszukiwania danych
		$.fn.dataTable.ext.search.push(
			function (settings, data, dataIndex) {
				var isActiveUserCb = $('#isActiveUserCb').is(":checked");
				var activeUserCol = parseInt(data[2]);
                // wartość zwracana określa, czy dany wiersz zostanie wyświetlony czy nie
                return !(isActiveUserCb && activeUserCol == 1);
			}
		);

		function refreshTable() {
			clients.draw();
		}

		function deleteClient(id, btn) {
			selectedRow = btn.parentNode.parentNode;
			selectedClientId = id;
			$('#modal-confirm-delete').modal('show');
		}

		$('#modal-confirm-delete-btn').on('click', function (e) 
        {
			$('#modal-confirm-delete').modal('hide');
			var errorMessage = 'Błąd. Nie udało się usunąć wybranego klienta. Spróbuj ponownie lub skontaktuj sie z administratorem.'

			$.ajax({
				type: "POST",
				url: "/User/DeleteUser",
				data: {
					id: selectedClientId
				},
				success: function (data) {
					if (data.success) {
						clients.rows(selectedRow).remove().draw();
						toastr.success('Dane zostały zaktualizowane.')
					}
					else {
						toastr.error(errorMessage);
                    }
				},
				error: function (data) {
					toastr.error(errorMessage);
				},
				dataType: "json"
			});
		});

	</script>
}