@page
@model RegisterConfirmationModel
@inject IConfiguration configuration

@{
	ViewData["Title"] = "Potwierdź e-mail";
    Layout = $"/Views/{configuration.GetSection("TemplateKey").Value}/Shared/_LayoutIdentity.cshtml";
}

<div class="alert alert-success text-center" role="alert">
    <b>Twoje konto zostało utworzone.</b><br />
    Wysłaliśmy do Ciebie e-mail z linkiem aktywacyjnym. <br />
    Sprawdź swoją skrzynkę i powierdź e-mail!
</div>