@using System.Globalization

@model bool

@{
	ViewData["Title"] = "Karnety";
	var locale = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}

@section Styles {
	<partial name="Styles/_DataTablesStylesPartial" />
}

<div class="card card-primary card-border-top">
	<div class="card-body">

		@if (Model)
		{
			<a href='/Ticket/AddTicket' class="btn btn-primary mb-3" role="button">
				<i class="fas fa-solid fa-circle-plus"></i>Kup karnet
			</a>
		}
		else
		{
			<div class="alert alert-danger mb-4" role="alert">
				W celu kupienia karnetu, uzupełnij proszę najpierw swoje dane 
				<a href='/Client/Client' class="text-danger"> [<b>tutaj</b>] </a>.
			</div>
		}

		<table id="tickets" class="table table-bordered"></table>

	</div>
</div>

@section Scripts {
	<partial name="Scripts/_DataTablesScriptsPartial" />

	<script>
		// INFO - tabele renderowane po stronie serwera
		// TODO - NIE DZIAŁA !!!!!!
		$(document).ready(function () 
		{
			$('#tickets').dataTable({
				searching: false,
				info: true,
				responsive: true,
				rowReorder: {
					selector: 'td:nth-child(2)'
				},
				autoWidth: false,
				lengthChange: true,
				language: {
					url: `/lib/datatables/lang/${'@locale'}.json`
				},
				order: [[1, "desc"]],
				processing: true,
				// renderowanie po stronie serwera
				serverSide: true,
				// adres skąd mają być pobierane rekordy
				ajax: "/Ticket/TicketsDataTable",
				// opis jak mają wyglądać kolumny
				columns: [
					// dla każdej klamry osobna kolumna
					{
						name: 'StartDate',
						data: 'startDate',
						title: "Data od",
						className: "desktop"
					},
					{
						name: 'EndDate',
						data: 'endDate',
						title: "Data do"
					},
					{
						name: 'operations',
						data: null,
						title: '',
						className: "desktop",
						sortable: false,
						searchable: false,
						render: function (data, type, row) {
							var payBtn = '', previewBtn = '', pdfBtn = '';

							if (row.isPaid) {
								previewBtn = '<a class="btn btn-success btn-sm" role="button" href="/Ticket/TicketPreview?Id=' + row.id + '"><i class="fas fa-solid fa-square-check"></i>Zobacz</a>';
								pdfBtn = '<button class="btn btn-secondary btn-sm ms-1" onclick="generateTicket(\'' + row.id + '\')"><i class="fas fa-solid fa-file-pdf"></i>PDF</button>';
							} else {
								payBtn = '<span class="badge bg-warning text-dark">Weryfikacja</span>';
							}

							return previewBtn + payBtn + pdfBtn;
						}
					}
				]
			});
		});

		function generateTicket(id) 
		{
			$.ajax({
				type: "POST",
				url: "/Ticket/TicketToPdf",
				data: {
					id: id
				},
				success: function (data) {
					if (data.success) {
						window.location = '@Url.Action("DownloadTicketPdf", "Ticket")' + '?fileGuid=' + data.fileGuid + '&fileName=' + data.fileName;
					}
					else
						toastr.error('Błąd. Nie udało się wygenerować karnetu. Spróbuj ponownie lub skontaktuj się z administartorem.');
				},
				error: function (data) {
					toastr.error('Błąd. Nie udało się wygenerować karnetu. Spróbuj ponownie lub skontaktuj się z administartorem.');
				},
				dataType: "json",
				cache: false
			});
		}

	</script>
}