@using System.Globalization

@model bool

@{
	ViewData["Title"] = "Karnety";
	var locale = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}

@section Styles {
	<partial name="Styles/_DataTablesStyles" />
}


<div class="card card-primary card-border-top">

	<div class="card-body">

		@if (Model)
		{
			<a href='/Ticket/AddTicket' class="btn btn-primary mb-3" role="button">
				<i class="fas fa-solid fa-circle-plus"></i>Kup karnet
			</a>
		}
		else
		{
			<div class="alert alert-danger mb-4" role="alert">
				W celu kupienia karnetu, uzupełnij proszę najpierw swoje dane <a href='/Client/Client' class="text-danger">
					[<b>tutaj</b>]
				</a>.
			</div>
		}

		<table id="tickets" class="table table-bordered"></table>

	</div>
</div>


@section Scripts {
	<partial name="Scripts/_DataTablesScripts" />

	<script>
		// INFO - tabele renderowane po stronie serwera
		$(document).ready(function () {

			$('#tickets').dataTable({
				searching: false,
				info: true,
				responsive: true,
				rowReorder: {
					selector: 'td:nth-child(2)'
				},
				autoWidth: false,
				lengthChange: true,
				language: {
					url: `/lib/datatables/lang/${'@locale'}.json`
				},
				order: [[1, "desc"]],
				processing: true,
				serverSide: true,
				ajax: "/Ticket/TicketsDataTable",
				columns: [
					{
						name: 'StartDate',
						data: 'startDate',
						title: "Data od",
						className: "desktop"
					},
					{
						name: 'EndDate',
						data: 'endDate',
						title: "Data do"
					},
					{
						name: 'operations',
						data: null,
						title: '',
						className: "desktop",
						sortable: false,
						searchable: false,
						render: function (data, type, row) {
							var payBtn = '', previewBtn = '', pdfBtn = '', printBtn = '', invoiceBtn = '';

							if (row.isPaid) {
								previewBtn = '<a class="btn btn-success btn-sm" role="button" href="/Ticket/TicketPreview?Id=' + row.id + '"><i class="fas fa-solid fa-square-check"></i>Zobacz</a>';
								pdfBtn = '<button class="btn btn-secondary btn-sm ms-1" onclick="generateTicket(\'' + row.id + '\')"><i class="fas fa-solid fa-file-pdf"></i>PDF</button>';
								printBtn = '<button class="btn btn-secondary btn-sm ms-1" onclick="printTicket(\'' + row.id + '\')"><i class="fas fa-solid fa-print"></i>Drukuj</button>';
								invoiceBtn = '<button class="btn btn-secondary btn-sm ms-1" onclick="generateInvoice(\'' + row.invoiceId + '\')"><i class="fas fa-solid fa-file-pdf"></i>Faktura</button>';
							} else {
								payBtn = '<span class="badge bg-warning text-dark">Weryfikacja</span>';
							}

							return previewBtn + payBtn + pdfBtn + printBtn + invoiceBtn;
						}
					}
				]
			});

		});

		function generateTicket(id) {

			$.ajax({
				type: "POST",
				url: "/Ticket/TicketToPdf",
				data: {
					id: id
				},
				success: function (data) {
					if (data.success) {
						window.location = '@Url.Action("DownloadTicketPdf", "Ticket")' + '?fileGuid=' + data.fileGuid + '&fileName=' + data.fileName;
					}
					else
						toastr.error('Błąd. Nie udało się wygenerować karnetu. Spróbuj ponownie lub skontaktuj się z administartorem.');
				},
				error: function (data) {
					toastr.error('Błąd. Nie udało się wygenerować karnetu. Spróbuj ponownie lub skontaktuj się z administartorem.');
				},
				dataType: "json",
				cache: false
			});

		}

		function generateInvoice(id) {

			$.ajax({
				type: "POST",
				url: "/Invoice/InvoiceToPdf",
				data: {
					id: id
				},
				success: function (data) {
					if (data.success) {
						window.location = '@Url.Action("DownloadInvoicePdf", "Invoice")' + '?fileGuid=' + data.fileGuid + '&fileName=' + data.fileName;
					}
					else
						toastr.error('Błąd. Nie udało się wygenerować faktury. Spróbuj ponownie lub skontaktuj się z administartorem.');
				},
				error: function (data) {
					toastr.error('Błąd. Nie udało się wygenerować faktury. Spróbuj ponownie lub skontaktuj się z administartorem.');
				},
				dataType: "json",
				cache: false
			});

		}


		function printTicket(id) {
			var url = '@Url.Action("PrintTicket", "Ticket")' + '?id=' + id;

			var myWindow = window.open(url, '', 'width=800,height=600');

			myWindow.onload = function () {
				myWindow.print();
				myWindow.onafterprint = function () {
					myWindow.close();
				};
			};
		}

	</script>

}