@using GymManager.Application.Employees.Queries.GetEmployeeBasics
@using System.Globalization

@model IEnumerable<EmployeeBasicsDto>

@{
	ViewData["Title"] = "Grafik";
	var locale = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}

@section Styles {
	<link rel="stylesheet" href="~/lib/fullcalendar/main.min.css" />
	<partial name="Styles/_DateTimeStylesPartial" />
	<partial name="Styles/_SelectStylesPartial" />
}

<partial name="Modals/_ModalEvent" model="@Model" />

<div class="card card-primary card-border-top">
	<div class="card-body">
		<div id="calendar"></div>
	</div>
</div>

@section Scripts {
	<script src="~/lib/fullcalendar/main.min.js"></script>
	<script src="~/lib/fullcalendar/locales/pl.min.js"></script>
	<partial name="Scripts/_DateTimeScriptsPartial" />
	<partial name="Scripts/_SelectScriptsPartial" />

	<script>

		$(document).ready(function () 
		{
			$('#dtpStart').datetimepicker({
				icons: { time: 'far fa-clock' },
				locale: '@locale'
			});

			$('#dtpEnd').datetimepicker({
				icons: { time: 'far fa-clock' },
				locale: '@locale'
			});

			$('.select2-UserId').select2({
				theme: 'bootstrap-5'
			});

			// wypełnienie kalendarza za pomocą ajaxa
			createCalendar();
		});

		// wypełnienie kalendarza za pomocą ajaxa
		function createCalendar() 
		{
			events = [];

			$.ajax({
				type: "GET",
				url: "/Calendar/GetEmployeeEvents",
				success: function (data) 
				{
					// jeśli sukces, uzupełnij tablicę "events" zdarzeniami
					// v - właściwości z modelu Dto
					$.each(data, function (i, v) 
					{
						events.push(
						{
							// przypisywanie wartości właściwości do kolejnych pól tablicy events
							title: v.title,
							start: v.start,
							end: v.end,
							color: v.themeColor,
							allDay: v.isFullDay,
							id: v.id,
							userId: v.userId
						});
					});
					renderEvents(events);
				},
				error: function (data) 
				{
					toastr.error('Błąd. Nie udało się wygenerować kalendarza. Spróbuj ponownie lub skontaktuj się z administratorem.');
				},
				dataType: "json"
			});
		}

		function renderEvents(events) 
		{
			var calendarEl = document.getElementById("calendar");

			var calendar = new FullCalendar.Calendar(calendarEl, 
			{
				initialView: 'dayGridMonth',
				headerToolbar: 
				{
					left: 'prev,next today',
					center: 'title',
					right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
				},
				contentHeight: 600,
				initialDate: new Date(),
				navLinks: true,
				businessHours: true,
				events: events,
				locale: '@locale'
			});

			calendar.render();
		}

		function deleteEvent() 
		{
			
		}

	</script>
}